<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resurse}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resurse}}/js/default.js"></script>
        <script type="text/javascript" src="{{resurse}}/js/home.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/buttons-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/menus-min.css">
        <link href="{{resurse}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resurse}}/css/home.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            App.apiPath = '{{api}}';
            App.pageNumber = 1,
            App.pageSize = 10,
            App.pagination = false;
            App.getArticles(App.pageNumber, App.pageSize);
        </script>
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">
            <div class="container posts">
            </div>
            <div class="container pagination js-pagination-box">
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
