* {
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    color: #484848;
}

body {
    background-color: #efefef;
    color: #333;
    font-size: 14px;
    width: 100%;
    margin:0;
}


header {
    height: 100px;
    margin:0;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#content {
    height: 100%;
}

#logo {
    float:left;
    position: relative;
    top: 25px;
    font-size: 36px;
    border: 0 none;
    margin-left: 10px;
    line-height: 38px;
}

h1 {
    margin: 0;
    font-weight: normal;
    padding-bottom: .5em;
}

#logo a {
    color: #000;
    text-decoration: none;
}

.error-bar {
    width: 90%;
/*    height: 3em;*/
    background-color: #FCC2BD;
    border: solid 1px #BE0002;
    box-shadow: 0em 0.2em 0.8em #aaa;
    font-size: 16px;
    padding: 4px;
    margin: 0 auto;
    color: #BE0002;
    text-align: center;
}

.error-bar li {
    list-style-type: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header .pure-menu .pure-menu-heading {
    margin: 0;
    float: left;
    margin-top: 20px;
}

header .pure-menu ul {
    float: right;
    margin-top: 20px;
}