/*.posts {
    margin: 0 auto;
}

.posts .title {
    font-size: 16px;
}

.posts .content {
    font-size: 14px;
    background-color: #fff;
    border-top: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
}

.posts .tags {
    font-size: 10px;
}

.posts .post {
    border: solid 1px #d5d5d5;
    margin-bottom: 1px;
}*/

.posts h3 {
    font-size: 32px;
    margin: 2px;
    color: #333332;
    line-height: 38px;
}

.posts .post {
    box-shadow: 0px 3px 8px #aaa;
    background-color: #fff;
    border: solid 1px #d5d5d5;
    margin-bottom: 10px;
    padding: 7px;
}

.posts .author {
    color: #B3B3B1;
    font-size: 16px;
    line-height: 19px;
}

.posts .content {
    font-size: 14px;
    background-color: #fff;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
}