<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resources}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resources}}/js/default.js"></script>
        <script type="text/javascript" src="{{resources}}/js/article.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/buttons-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/menus-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/forms-min.css">
        <link href="{{resources}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resources}}/css/article.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            App.name = '{{name}}';
            App.apiPath = '{{api}}';
            App.articleId = '{{article.id}}';
        </script>
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">
            <div class="container article">
                <h2>{{article.title}}</h2>
                <div>Author: {{article.author}}</div>
                <div>Date: {{article.create_date|date(config.dateFormat)}}</div>
                <pre>{{article.content}}</pre>
                <div class="tags">Tags: {{article.tags|upper}}</div>
                <a href="javascript:void(0)" class="js-add-comment add-comment">Add Comment</a>
            </div>
            <div class="container comments js-comments">
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>