<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resources}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resources}}/js/default.js"></script>
        <script type="text/javascript" src="{{resources}}/js/create.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/buttons-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/forms-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/menus-min.css">
        <link href="{{resources}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resources}}/css/create.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            App.apiPath = '{{api}}';
        </script>
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">
            <div class="container create-form">
                <input type="text" class="article-title js-title" placeholder="Title">
                <textarea placeholder="Article" class="article-body js-article"></textarea>
                <div class="info">Separate tags with space.</div>
                <input type="text" class="article-tags js-tags" placeholder="Tags">
                <button class="pure-button pure-button-primary js-save-button-click">Save</button>
                <button class="pure-button pure-button-primary js-cancel-button-click">Cancel</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
