<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resources}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resources}}/js/default.js"></script>
        <script type="text/javascript" src="{{resources}}/js/login.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/buttons-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/forms-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/menus-min.css">
        <link href="{{resources}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resources}}/css/login.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            App.apiPath = '{{api}}';
        </script>
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">
            <div class="container">
                <form class="pure-form pure-form-stacked login-form">
                    <fieldset class="pure-group">
                        <input type="email" placeholder="Email" class="first js-email" value="">
                        <input type="password" placeholder="Password" class="last js-password" value="">
                        <button class="pure-button pure-button-primary js-log-in-button">Log In</button>
                    </fieldset>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
