<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resurse}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resurse}}/js/default.js"></script>
        <link href="{{resurse}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resurse}}/css/create.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            $(document).ready(function ($) {
                var errorMessage = new App.message.Error();
                $('.js-save-button-click').click(function () {
                    var button = $(this).attr('disabled', 'disabled'),
                        title = $('.js-title').val(),
                        article = $('.js-article').val(),
                        tags = $('.js-tags').val(),
                        hasError = false;
                    errorMessage.hide();
                    $.ajax({
                        type: 'POST',
                        url: '{{api}}/create',
                        data: {
                            title: title,
                            article: article,
                            tags: tags
                        },
                        success: function (data, status, request) {
                            console.log(data);
                            // if (data.status === 'ok') {
                            //     document.location = '/login';
                            // } else if (data.reason === 'user-exists') {
                            //     errorMessage.show('Sorry, email address ' + $('.js-email').val() + ' is already in use.');
                            // } else {
                            //     errorMessage.show('Error Sending Data.');
                            // }
                            button.removeAttr('disabled');
                        },
                        error: function () {
                            button.removeAttr('disabled');
                            errorMessage.show('Error Sending Data.');
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div id="content">
            <div class="create-form">
                <h1>Create</h1>
                <input type="text" class="article-title js-title" placeholder="Title...">
                <textarea class="article-body js-article"></textarea>
                <div class="info">Separate tags with space.</div>
                <input type="text" class="article-tags js-tags" placeholder="Tags...">
                <button class="js-save-button-click">Save</button>
            </div>
        </div>
    </body>
</html>
