<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{{resurse}}/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{resurse}}/js/default.js"></script>
        <link href="{{resurse}}/css/default.css" rel="stylesheet" type="text/css">
        <link href="{{resurse}}/css/home.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            $.ajax({
                type: 'GET',
                url: '{{api}}/articles',
                data: {
                    pageNumber: 1,
                    pageSize: 10
                },
                success: function (data, status, request) {
                    console.log(data);
                    $(document).ready(function () {
                        if (data.status === 'ok') {
                            var target = $('.posts');
                            $.each(data.result, function(key, value) {
                                if (key === 'totalRowCount') {
                                    return;
                                }
                                App.articles.ShortPost(value, target);
                            });
                        } 
                    });
                },
                error: function () {
                    // button.removeAttr('disabled');
                    // errorMessage.show('Error Sending Data.');
                }
            });
        </script>
    </head>
    <body>
        <div id="content">
            <div class="posts">
            </div>
        </div>
    </body>
</html>
